#flatchessboard { /* table element */
	/**
	* margin-top: [dynamic value];
	* margin-bottom: [dynamic value];
	*/
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border: 0;
}
#flatchessboard tr td.blacksquares, #flatchessboard tr td.whitesquares {
	width: 11%;
	height: 11%;
	font-size: 52px;
	line-height: 42px;
	text-align: center;
	font-family: times new roman;
}

#flatchessboard tr td.blacksquares span, #flatchessboard tr td.whitesquares span { cursor: pointer; }

#flatchessboard tr th.horizcoords {
	width: 11%;
	height: 6%;
}

#flatchessboard tr th.vertcoords {
	width: 6%;
	height: 11%;
}

#flatchessboard tr td.blacksquares { background-color: #cccccc; }

/* #flatchessboard tr td.blacksquares:hover { background-color: #ccccaa; } */

#flatchessboard tr td.whitesquares { background-color: #ffffff; }

/* #flatchessboard tr td.whitesquares:hover { background-color: #ddddaa; } */

#flatchessboard tr td.boardangle /*, #bottomborder */ { height: 6%; }

#flatchessboard tr td.boardangle { background-color: #ffffff;}

#flatchessboard tr td.boardangle /*, #rightborder */ {
	width: 6%;
}
#flatchessboard tr th, #flatchessboard tr td.boardangle /*, #rightborder, #bottomborder */ {
	overflow: visible;
	background-color: #ce5c00;
	color: #f9ac6d;
	font-family: arial;
	font-size: 100%;
}
